<layout-header [navItems]="nav" [mobileNavItems]="mobileNav">
  <div class="site-id"><span>Neuro</span><span class="secondary-light-color">Shake</span></div>
  <div class="utilities"><user-utilities></user-utilities></div>
  <div class="mobile-menu-header light-bg">
    <user-mobile-utilities></user-mobile-utilities>
    <div class="separator"></div>
  </div>
</layout-header>
<layout-body>
  <router-outlet></router-outlet>
</layout-body>
<layout-footer>
  <a routerLink="/legal">Mentions Légales</a>
</layout-footer>